<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/weather.png">
    <link rel="stylesheet" href="/vendors/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>404</title>
</head>
<body>

    <div class="main-content">
        {{>header}}
        <img id="pagenotfound" src="/assets/images/page-not-found-688965_1280.png" alt="Error">
        <p>{{errorMessage}}</p>
    </div>

    {{>footer}}

    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>