<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/weather.png">
    <link rel="stylesheet" href="/vendors/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather</title>
</head>
<body>

    <div class="main-content">
        {{>header}}   

        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter a location" id="location">
            </div>
            <button type="submit" class="btn btn-outline-dark">Fetch weather forecast</button>
        </form>  

        <br><br>

        <p id="msg1"></p>
        <p id="msg2"></p>          
    </div>
    
    {{>footer}}

    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>