<footer>
    <i class="fa fa-cloud" aria-hidden="true"></i>
     <i class="fa fa-tint" aria-hidden="true"></i>
     <i class="fa fa-sun-o" aria-hidden="true"></i>
     <i class="fa fa-snowflake-o" aria-hidden="true"></i>
     <i class="fa fa-tree" aria-hidden="true"></i>
     <i class="fa fa-cloud" aria-hidden="true"></i>
     <i class="fa fa-tint" aria-hidden="true"></i>
     <i class="fa fa-sun-o" aria-hidden="true"></i>
     <i class="fa fa-snowflake-o" aria-hidden="true"></i>
     <i class="fa fa-tree" aria-hidden="true"></i>
     <i class="fa fa-cloud" aria-hidden="true"></i>
     <i class="fa fa-tint" aria-hidden="true"></i>
     <i class="fa fa-sun-o" aria-hidden="true"></i>
     <i class="fa fa-snowflake-o" aria-hidden="true"></i>
     <i class="fa fa-tree" aria-hidden="true"></i>
     <i class="fa fa-cloud" aria-hidden="true"></i>
     <i class="fa fa-tint" aria-hidden="true"></i>
     <i class="fa fa-sun-o" aria-hidden="true"></i>
     <i class="fa fa-snowflake-o" aria-hidden="true"></i>
     <i class="fa fa-tree" aria-hidden="true"></i><br><br>
    <p>Created by {{name}}</p>
</footer>